.container
  .row
    .col-xs-12.col-sm-8.offset-sm-2.card{ style: 'margin-top: 30px; margin-bottom: 30px; padding: 20px;' }
      %form{:action => "/messages/create", :method => "post"}
        .form-group
          %label{:for => "name"} Name:
          %input#name.form-control{"aria-describedby" => "nameHelp", :placeholder => "Enter name", :type => "name"}
        .form-group
          %label{:for => "email"} Email:
          %input#exampleInputEmail1.form-control{"aria-describedby" => "emailHelp", :placeholder => "Enter email", :type => "email"}
          %small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
        .form-group
          %label{:for => "message"} Message:
          %input#message.form-control{"aria-describedby" => "messageHelp", :placeholder => "Enter your message", :type => "message"}
        .form-group
          %label{:for => "exampleFormControlFile1"} Example file input
          %input#exampleFormControlFile1.form-control-file{:type => "file"}/
        %button.btn.btn-primary{:type => "submit"} Submit